html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(property='og:title' content='Yummyのページ')
    meta(property='og:type' content='website')
    meta(property='og:url' content='http://10.33.33.1')
    meta(property='og:image' content='/static/img/yamisite.png')
    meta(property='og:description' content='Yummyのページです！')
    meta(property='og:site_name' content='Yummyのページ')
    link(rel='stylesheet' href='./css/style.css')
    title Yummyのページ
  body
    .wrapper
      h1 ランダムでGif画像を表示するやつ
      p.text リロードすると別の画像が見れます。
      p.comment= title
      a(href="http://10.33.33.1", rel="戻る") 戻る
      #result
        img(src=url alt='')